/* Recursive Static Fonts */
@font-face {
  font-display: auto;
  font-family: 'Recursive Sans Linear';
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/RecursiveSansLnrSt-Regular.woff2') format('woff2');
}

@font-face {
  font-display: auto;
  font-family: 'Recursive Sans Linear';
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/RecursiveSansLnrSt-Bold.woff2') format('woff2');
}

@font-face {
  font-display: auto;
  font-family: 'Recursive Sans Linear';
  font-stretch: normal;
  font-style: italic;
  font-weight: normal;
  src: url('/fonts/RecursiveSansLnrSt-Italic.woff2') format('woff2');
}

@font-face {
  font-display: auto;
  font-family: 'Recursive Mono Linear';
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/RecursiveMonoLnrSt-Regular.woff2') format('woff2');
}

@font-face {
  font-display: auto;
  font-family: 'Recursive Mono Linear';
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/RecursiveMonoLnrSt-Bold.woff2') format('woff2');
}

@font-face {
  font-display: auto;
  font-family: 'Recursive Mono Linear';
  font-stretch: normal;
  font-style: italic;
  font-weight: normal;
  src: url('/fonts/RecursiveMonoLnrSt-Italic.woff2') format('woff2');
}

slide-deck {
  --slide-web-font-sans: "Recursive Sans Linear";
  --slide-web-font-code: 'Recursive Mono Linear'
}
